.banner {
    background-image: linear-gradient(180deg, rgb(175, 234, 246), #38E5FF);
    background-image: linear-gradient(to right, rgb(175, 234, 246) , #38E5FF);
    /* margin-top: 0.5em; */
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.1rem;
    margin: auto;
    justify-content: center;
}
.banner-icon {
    margin-right: 1rem;
}
.banner-start {
    color: white;
}